@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist), system-ui, sans-serif;
}

@variant dark (&:where(.dark, .dark *));

*, *::before, *::after {
  box-sizing: border-box;
}

.items-search-input::placeholder {
  color: var(--placeholder-color, #999);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-sans);
}
